.login{
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2147483646;
    touch-action: manipulation;
}
.vid-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    overflow: hidden;
    touch-action: manipulation;
}
video {
    position: absolute;
right: 0;
bottom: 0;
min-width: 100vw;
min-height: 100vh;
width: auto;
height: auto;
z-index: -100;
object-fit: cover;
max-width: 100%;
touch-action: manipulation;
}
.login-title {
    color: #FFF;
    font-family: "futura book legacy","FuturaPT-Book",Futura,"Trebuchet MS",Arial,sans-serif;
    font-size: 3rem;
    margin-bottom: 10px;
    touch-action: manipulation;
}
.login-prompt{
    position: absolute;
left: 0;
width: calc(100% - 40px);
margin: 0 20px;
z-index: 2;
top: calc(100% - 60%);
text-align: center;
touch-action: manipulation;
}
.name-input{
    background: transparent;
    padding: 10px 50px;
    border: 2px solid #FFF;
    color: #FFF;
    font-family: "futura book legacy","FuturaPT-Book",Futura,"Trebuchet MS",Arial,sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    touch-action: manipulation;
}
.login-btn{
    font-family: "futura book legacy","FuturaPT-Book",Futura,"Trebuchet MS",Arial,sans-serif;
    background: transparent;
    padding: 10px 10px;
    border: 2px solid #FFF;
    color: #FFF;
    width: 120px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 20px;
    touch-action: manipulation;
}
