<div class="login">
    <div class="vid-wrapper">
        <video loop oncanplay="play()" onloadedmetadata="muted = true">
            <source src="https://raw.githubusercontent.com/jakesmorrison/oscar/main/src/oscar.mp4"
                type="video/mp4">
        </video>

        <!-- https://vod-progressive.akamaized.net/exp=1646075656~acl=%2Fvimeo-prod-skyfire-std-us%2F01%2F3606%2F9%2F243030519%2F873557125.mp4~hmac=2d5e94e302e8d0c87e4993ec156c115ad61dc864d256a33cd529a6a59f08bb7a/vimeo-prod-skyfire-std-us/01/3606/9/243030519/873557125.mp4?filename=07__Homepage.mp4 -->
    
    </div>

     <div class="login-prompt">
         <p class="login-title">Oscar Ballots</p>
         <input placeholder='Enter Your Name' class="name-input" [(ngModel)]="user">
         <br>
         <button class="login-btn" (click)="login()">Login</button>
     </div>

</div>
