.container {
    background-color: #000;
    width: 100%; 
    overflow-y: hidden;
}
.scroll-row{
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  center;
    align-content: center;
}
.title {
    color: white;
}
footer{
    position:fixed;
    bottom:0px;
    background-color:pink;
    width:100%;
}
.refresh-btn{
    // position: absolute;
    // right: 15px;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    border: solid #c79f27 1px;
    background-color: #c79f27;
    color: black;
    cursor: pointer;
    font-size:1rem;
    font-weight: 700;
}
.picks{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.index-btn{
    font-family: "futura book legacy","FuturaPT-Book",Futura,"Trebuchet MS",Arial,sans-serif;
    background: transparent;
    padding: 10px 10px;
    border: 2px solid #FFF;
    color: #FFF;
    width: 120px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 20px;
}

.oscar-table {
    display: block;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 100%;
    overflow: auto;
    width: auto;
    background-color: white;
    overflow: hidden;
    width: 90%;
    margin-left: 5%;
    
    th {
        background-color: black;
        color: white;
        font-weight: normal;
        padding: 10px 10px;
        text-align: center;
        font-size: 125%;
    }
    td {
      background-color: black;
      color: white;
      padding: 0px 0px;
      text-align: center;
    }
  }

  .option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    height: 36px;
    width: 36px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
  }
  .option-input:hover {
    background: #9faab7;
  }
  .option-input:checked {
    background: #c79f27;
  }
  .option-input:checked::before {
    width: 36px;
    height: 36px;
    display:flex;
    // content: '\f00c';
    font-size: 25px;
    font-weight:bold;
    position: absolute;
    align-items:center;
    justify-content:center;
  }
  .option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: white;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
  }
  .option-input.radio {
    border-radius: 0%;
  }
  .option-input.radio::after {
    border-radius: 0%;
  }
  
  @keyframes click-wave {
    0% {
      height: 40px;
      width: 40px;
      opacity: 0.35;
      position: relative;
    }
    100% {
      height: 200px;
      width: 200px;
      margin-left: -80px;
      margin-top: -80px;
      opacity: 0;
    }
  }
  
  